.row
	.col-xs-12
		%h2.page-header Server Setup
	.col-xs-12
		= form_tag
		- @categories.each do |category|
			%h3.page-header #{category}
			%table.table
				%thead
					%tr
						%th.col-xs-5 Key
						%th.col-xs-6 Value
						%th.col-xs-1 Help
				%tbody
					- Setting.where(:category => category).each do |setting|
						%tr
							%td #{ setting.key }
							%td
								%input.form-control{ :type => 'text', :name => "settings[#{category}][#{setting.key}]", 
									:value => setting.value }
							%td
								%button.btn.btn-default{ :type => 'button', :data => { :container => 'body', :toggle => 'popover', :placement => 'left', :content => setting.HelpText } } ?
		%button.btn.btn-primary{ :type => 'submit' } Update
