.row
	.col-xs-12
		%h1.page-header Setting Page
	.col.xs-12
		%p.lead A collection of settings here
.row
	= render :template => 'settings/interface.html', :locals => { :target_picture => 'http://placehold.it/120x120', 
		:target_path => issue_extra_info_details_path, :target_name => 'Extra Info' }
	= render :template => 'settings/interface.html', :locals => { :target_picture => 'http://placehold.it/120x120', 
		:target_path => admins_path, :target_name => 'Admins' }
	= render :template => 'settings/interface.html', :locals => { :target_picture => 'http://placehold.it/120x120', 
		:target_path => reports_admins_path, :target_name => "Admin's Report" }
	= render :template => 'settings/interface.html', :locals => { :target_picture => 'http://placehold.it/120x120', 
		:target_path => setup_admins_path , :target_name => "Server Setup" }
	= render :template => 'settings/interface.html', :locals => { :target_picture => 'http://placehold.it/120x120', 
		:target_path => import_index_path , :target_name => "Import Issues" }
