.row
	.col-lg-4.col-xs-12
		%h1.page-header Login
		= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'pure-form pure-form-stacked', :role =>'form', :method => :post } ) do |f| 
			%fieldset
				.form-group
					= f.label :domain
					= select_tag "user[domain]", options_for_select(eval(ENV['devise_ldap_domains'])), :class =>'form-control' 
				.from-group
					= f.label :username
					= f.text_field :username, autofocus: true , :placeholder => "Your Username", :class =>'form-control' 
				.form-group
					= f.label :password
					= f.password_field :password, autocomplete: "off", :placeholder => "password" , :class => 'form-control'
				%button.btn.btn-primary{ :type => 'submit' } Sign In


