!!!!
%html
	%head
		%title Problem?
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag 'http://yui.yahooapis.com/pure/0.6.0/pure-min.css'
		= csrf_meta_tags 
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
	%body
		.pure-g
			.pure-u-1-1
				.pure-menu.pure-menu-horizontal
					%a.pure-menu-heading.pure-menu-link{ :href => root_path } Problem?
					%ul.pure-menu-list
						- if user_signed_in? then
							%li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
								%a.pure-menu-link{ :href => '#' } #{current_user.name  }
								%ul.pure-menu-children
									%li.pure-menu-item
										%a.pure-menu-link{ :href => '#' } Settings
									%li.pure-menu-item
										= link_to 'Logout', destroy_user_session_path , :method => :delete,  :class => 'pure-menu-link'
						- else
							%li.pure-menu-item
								%a.pure-menu-link{ :href => new_user_session_path } Login
		= yield
		= javascript_include_tag 'application', 'data-turbolinks-track' => true 

