!!!!
%html
	%head
		%title #{ ENV["site_title"] }
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'
		= csrf_meta_tags 
		= javascript_include_tag 'application', 'data-turbolinks-track' => true 
		= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'
		%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
	%body
		.navbar.navbar-default
			.container-fluid
				.navbar-header
					%button.navbar-toggle.collapsed{ :type => 'button', :data => { :toggle => 'collapse', :target => '#root' } }
						%span.sr-only Toggle Navigation
						%span.icon-bar	
						%span.icon-bar	
						%span.icon-bar	
					%a.navbar-brand{ :href => root_path } #{ENV["site_brand"]}
				.collapse.navbar-collapse#root
					- if user_signed_in? then
						%ul.nav.navbar-nav
							%li
								%a{ :href => new_user_issue_path(current_user) } Report An Issue
						= form_tag( search_issues_path, { :method => :post, :class => 'navbar-form navbar-left', :role => 'search' }) do
							.form-group
								%input.form-control{ :type => 'text', :placeholder => 'Issue ID', :name => 'id' }
							%button.btn.btn-default{ :type => 'submit' } Search
					%ul.nav.navbar-nav.pull-right
						- if user_signed_in? then
							%li
								%a.dropdown-list{ :href => '#', :role => 'menu', :'data-toggle' => 'dropdown' } 
									#{ current_user.name }
									%span.caret
								%ul.dropdown-menu
									%li
										%a{ :href => user_issues_path(current_user) } Your Issues
									- if current_user.admin? then
										%li.divider
										%li 
											%a{ :href => settings_path } Settings
									%li.divider
									%li
										= link_to 'Logout', destroy_user_session_path, :method => :delete
						- else
							%li
								%a{ :href => new_user_session_path } Login

		.container
			= yield
		.container
			.row-xs-12
				%footer
					%p
						&copy; 2015 by Problems or Suggestion, mail 
						%a{ :href => 'mailto:malekerwin.karim@petronas.com.my' } Malek Erwin Karim

